/**
 * Device linker stylesheets
 */


/* Normalize */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Myriad Pro', Arial, sans-serif;
  color: #444;
}


/* Layout */

body {
  display: block;
  width: 550px;
  margin: 30px auto 0;
}

.title {
  display: block;
  text-align: center;
}

.title-1 {
  font-size: 36px;
}

.title-2 {
  font-size: 22px;
  margin-bottom: 30px;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 6px;
  font-family: monospace;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #ff6600;
}

.linked-devices {
  display: none;
}
